.coupon_start
{
	overflow:auto;
}
.inner_div {
	border-bottom:1px dashed #d6deeb;
	clear:both;
	padding:10px 0px 15px 5px;
	margin: 0px;
}
.star_img {
	margin-right:10px;
}

.mer_desc {
	font-weight:bold;
}

.mer_div_desc {
	border:#cccccc 1px dashed;
	padding:10px;
}